<%= render 'menu' %>

<section class="section">
  <div class="container is-fluid">

    <h1 class="title">Admininstration</h1>

    <p class="subtitle is-4 has-text-grey-dark has-text-weight-light">
      Add or remove items from the inventory system.
    </p>
  </div>
  <section>