// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bulma/initial-variables.sass";
@import "bulma/functions";
$tag-background-color: #ddd;
$table-background-color: unset;
$table-cell-border: 1px solid #e6e6e6;
$table-cell-padding: 0.25rem; // $section-padding: 0;

.button.is-xsmall {
  height: 2em !important;
  font-size: 0.75rem !important;
}
// .section {
//   margin-bottom: 0.5rem;
// }

table.dataTable tbody td,
table.dataTable tbody th {
  // padding: 0.25rem !important;
}

.summary {
  margin: 0.75rem 1.5rem;
}

.container {
  max-width: 100%;
}

.main {
  padding: 3rem;
}

.heading {
  margin-bottom: 2rem;
  font-size: 0.8em !important;
  letter-spacing: unset !important;
}

.tag.is-primary-outline {
  background-color: #f1f8ff !important;
  border: 1px solid #c8e1ff !important;
}

.tag.is-default-outline {
  background-color: #fff !important;
  border: 1px solid #e6e6e6 !important;
}

.tag .heading {
  font-size: 1em !important;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.stacked-block {
  display: block !important;
}

.section strong {
  color: #222 !important;
}

.section a:hover,
.section strong:hover {
  color: #3273DC !important;
  text-decoration: underline;
}

.hidden-link {
  color: inherit;
  // color: grey;
}

.hidden-link:hover {
  color: #3273dc;
  text-decoration: underline;
  // font-weight: bold;
}

.date-column {
  // width: 25%;
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.box-outline-primary {
  border: 1px solid #3273dc;
  box-shadow: unset !important;
  // box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

table {
  // font-size: 0.875rem;
  // border-width: 1px 0;
}

td,
th {
  // border-bottom: 1px solid #eee !important;
}

td.border-right,
th.border-right {
  // border-right: 1px solid #eee !important;
}

td.border-left,
th.border-left {
  // border-left: 1px solid #eee !important;
}

td.extra-padding,
th.extra-padding {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

tr td:first {
  // padding-left: 0.25rem;
}

table tr.is-active {
  // background-color: rgba(101, 210, 119, 0.2) !important;
  // border-bottom: 1px solid #3273dc !important;
}

tr.is-active {
  background-color: #f1f8ff !important;
  border-color: #c8e1ff !important;
}

tr.is-active:hover {
  background-color: #e0edfb !important;
}

.tag .is-outlined-link {
  border-color: #3273dc;
}

.tag .is-highlighted {
  background-color: rgba(255, 227, 15, 0.3) !important;
}

.is-light-green {
  background-color: rgba(101, 210, 119, 0.2) !important;
}

.user-page {
  background: whitesmoke;
}

.table.grouped-table tbody td,
.table.grouped-table tbody th {
  border: unset !important;
}

.table.grouped-table tr.with-divider {
  border-top: 1px #ccc solid !important;
}

table.dataTable thead th {
  padding-left: 8px !important;
}
@import "bulma";
@import "bulma/bulma-iconpicker.min.css";