// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bulma/initial-variables.sass";
@import "bulma/functions"; // $tag-background-color: #ddd;
// $table-background-color: unset;
// $table-cell-border: 1px solid #e6e6e6;
// $table-cell-padding: 0.25rem; // $section-padding: 0;
$navbar-item-hover-color: #5EC4D8;
$navbar-tab-hover-border-bottom-color: #5EC4D8;
$navbar-tab-active-color: #5EC4D8;
$navbar-tab-active-border-bottom-color: #5EC4D8;
$text: grey;
$link: $turquoise;

.pinned-repo-item {
  display: flex;
  width: 359px;
}

.pinned-repos-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar-item.is-tab:hover {
  border: none;
}

html {
  background-color: #F7F7F7 !important;
}

.profile-timeline.discussion-timeline::before {
  left: 15px;
  background-color: #eaecef;
}

.profile-timeline.discussion-timeline {
  float: none;
}

.discussion-timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 79px;
  z-index: -1;
  display: block;
  width: 2px;
  content: "";
  background-color: #e6ebf1;
}

.discussion-timeline {
  position: relative;
  float: left;
  width: 760px;
}

.profile-timeline.discussion-timeline .profile-timeline-month-heading::after {
  position: absolute;
  top: 12px;
  z-index: -1;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #eaecef;
}

.vcard-names-container {
  width: auto !important;
}

.vcard-fullname {
  font-size: 26px;
  line-height: 30px;
}

.input-sm {
  min-height: 28px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 12px !important;
  line-height: 20px;
  border: none;
}

.vcard-username {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  color: #666;
}

.overflow-hidden {
  overflow: hidden !important;
}

.counter {
  display: inline-block;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #586069;
  background-color: rgba(27, 31, 35, 0.08);
  border-radius: 20px;
}

.borrowed-ago {
  font-style: italic;
}

.event-item {
  padding: 10px 10px 10px 0;
  font-size: 14px;
  border-bottom: 1px solid #f1f1f1;
}

.icon-item-type i {
  font-size: 12px;
  padding: 6px 15px 6px 6px;
  color: #bbbbbb;
}

.navbar-brand .navbar-item {
  font-family: "Open Sans Condensed";
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 12px;
}

.container {
  width: 100%;
}

.profile-heading .level-item {
  border-left: 1px solid #f1f1f1;
  // margin: -30px 0;
  // padding: 70px 30px;
}

.profile-heading .following {
  margin: -30px 0;
  padding: 70px 30px;
}

.stat-key {
  // text-transform: uppercase;
}

.profile-heading .stat-key {
  font-size: 20px;
  font-weight: 200;
}

.section {
  padding: 1.5rem !important;
}

.profile-heading .name {
  border-right: 1px solid #f1f1f1;
  margin: -30px 0;
  padding: 40px 30px 0;
}

.profile-heading .title {
  font-weight: 600;
}

.profile-heading {
  margin: 20px 0;
  padding-bottom: 30px;
}

.profile-options {
  background-color: #f1f1f1;
  margin: -20px 0 20px;
}

.hero-foot {
  margin-top: -2rem;
}
// .tab-content:not(.is-active) {
//   display: none !important;
// }
//

.no-sort .DataTables_sort_icon,
.no-sort.sorting_desc:after {
  display: none !important;
}

.no-sort.sorting_desc {
  cursor: text !important;
}

#hero-home .hero-body {
  // padding-bottom: 0 !important;
}

#admin.tabs {
  justify-content: flex-end;
}

.button.is-xsmall {
  height: 2em !important;
  font-size: 0.75rem !important;
}

.section {
  // margin-bottom: 0.5rem;
}
// table.dataTable tbody td,
// table.dataTable tbody th {
//   // padding: 0.25rem !important;
// }

.summary {
  margin: 0.75rem 1.5rem;
}
// .container {
//   max-width: 100%;
// }

.main {
  // padding: 2rem;
}

.is-vertical-center {
  display: flex !important;
  align-items: center !important;
}

.heading {
  margin-bottom: 2rem;
  font-size: 0.8em !important;
  letter-spacing: unset !important;
}

.tag.is-primary-outline {
  background-color: #f1f8ff !important;
  border: 1px solid #c8e1ff !important;
}

.tag.is-default-outline {
  background-color: #fff !important;
  border: 1px solid #e6e6e6 !important;
}

.tag .heading {
  font-size: 1em !important;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.stacked-block {
  display: block !important;
}
// .section strong {
//   color: #222 !important;
// }
// .section a:hover,
// .section strong:hover {
//   color: #3273DC !important;
//   // text-decoration: underline;
// }
//
// .hidden-link {
//   color: inherit;
//   // color: grey;
// }
//
// .hidden-link:hover {
//   color: #3273dc;
//   text-decoration: underline;
//   // font-weight: bold;
// }
// .date-column {
//   // width: 25%;
//   padding-right: 15px !important;
//   padding-left: 15px !important;
// }
//

.box-outline-primary {
  border: 1px solid #3273dc;
  box-shadow: unset !important;
  // box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
// table {
//   // font-size: 0.875rem;
//   // border-width: 1px 0;
// }
//
// td,
// th {
//   // border-bottom: 1px solid #eee !important;
// }
// td.border-right,
// th.border-right {
//   // border-right: 1px solid #eee !important;
// }
//
// td.border-left,
// th.border-left {
//   // border-left: 1px solid #eee !important;
// }
// td.extra-padding,
// th.extra-padding {
//   padding-left: 0.75rem !important;
//   padding-right: 0.75rem !important;
// }
// tr td:first {
//   // padding-left: 0.25rem;
// }
//
// table tr.is-active {
//   // background-color: rgba(101, 210, 119, 0.2) !important;
//   // border-bottom: 1px solid #3273dc !important;
// }
// tr.is-active {
//   background-color: #f1f8ff !important;
//   border-color: #c8e1ff !important;
// }
//
// tr.is-active:hover {
//   background-color: #e0edfb !important;
// }

.tag .is-outlined-link {
  border-color: #3273dc;
}

.tag .is-highlighted {
  background-color: rgba(255, 227, 15, 0.3) !important;
}

.is-light-green {
  background-color: rgba(101, 210, 119, 0.2) !important;
}
// .user-page {
//   background: whitesmoke;
// }
//
// .table.grouped-table tbody td,
// .table.grouped-table tbody th {
//   border: unset !important;
// }
//
// .table.grouped-table tr.with-divider {
//   border-top: 1px #ccc solid !important;
// }
// // table.dataTable thead th {
// //   padding-left: 8px !important;
// // }
@import "bulma";
@import "bulma/bulma-iconpicker.min.css";
@import "bulma/dataTables.bulma.min.css";
@import "font-awesome-sprockets";
@import "font-awesome";