<div class="container is-fluid">
  <nav class="level">
    <div class="level-left">
      <div class="title is-spaced">
        <%= @member.full_name %>
        &nbsp;&nbsp;&nbsp;
        <span class="tags has-addons pull-right">
          <span class="tag is-dark is-medium">
            id #
          </span>
          <span class="tag is-link is-medium">
            <%= @member.id_number %>
          </span>
        </span>
      </div>
    </div>
  </nav>
</div>