<div class="card">
  <div class="card-content is-paddingless">
    <table class="table is-fullwidth">
      <tbody>
        <% @loan_list.each do |x| %>
          <span class="has-text-grey">
            <%= "#{x.item.name}" %>
          </span>
          <span class="has-text-grey">
            <%= "#{x.item.inventory_tag}" %>
          </span>
        <% end %>

      </tbody>
    </table>
  </div>
</div>