<div class="hero-foot has-shadow">
    <div class="tabs is-boxed">
        <ul>
            <li class="tab">
                <%= link_to member_path(@member) do %>
                    <span class="icon is-small">
                        <i class="fas fa-briefcase"></i>
                    </span>
                    <span>Current</span>&nbsp;&nbsp;&nbsp;
                    <span class="tag is-rounded">
                        <%= @member.loans.active.size %>
                    </span>
                    <% end %>
            </li>
            <li class="tab is-active">
                <%=link_to history_member_path(@member) do %>
                    <span class="icon is-small">
                        <i class="fas fa-history"></i>
                    </span>
                    <span>Loan History</span>
                    <% end %>
            </li>
        </ul>
    </div>
</div>